---
---

@import "{{ site.theme }}";

section.page-header {
  background: #344fac url(images/background.jpg) no-repeat center top;
  background-size: cover;
}

section.page-header .btn {
  overflow: hidden;
  text-indent: -999em;
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 220px;
  background: transparent url(images/github.png) no-repeat right top;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #ff291b;
}

a {
  color: #1955ff;
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  section.page-header .btn {
    width: 135px;
    height: 135px;
  }
}
@media screen and (max-width: 42em) {
  section.page-header .btn {
    width: 100px;
    height: 100px;
  }
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    section.page-header {
      background-image: url(images/background@2x.jpg);
    }
    section.page-header .btn {
      background-image: url(images/github@2x.png);
    }
}
